.header 
{
    background-color: #0d6efd;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h2 
{
    font-size: x-large;
}
.header em
{
    color: crimson;
}
.header nav a 
{
    margin-left: 50px;
    color: rgb(178, 255, 184);
    font-weight: bold;
    font-size: larger;
    transition: 0.3s;
}
.header nav a:hover
{
    transform: scale(1.2);
}